.imageSmall {
	width: 90px;
	height: 90px;
}

.imageMedium {
	width: 110px;
	height: 110px;
}

.imageLarge {
	width: 150px;
	height: 150px;
}

.imageRound {
	border-radius: 10rem;
}

.imageSquare {
	border: 2px solid black;
}


.imageResponsive{
	width: 100%;
	height: auto;
}