<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/b78dcc4774.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="category.css" />
    <title>d-Coding Quiz</title>
  </head>
  <body>
    <div class="container colorPrimary">
      <nav class="fontWhite">
        <a class="brandName bold pointer navitem" href="/index.html"
          >d-Coding Quiz</a
        >
        <div class="list">
          <a class="p05 pointer navitem" href="../rules/rules.html">Rules</a>
          <a class="p05 pointer colorBeige navitem" href="">Category</a>
        </div>
      </nav>

      <div class="categoryContainer">
        <a href="" class="noDecoration">
          <img src="../../assets/react-logo.png" alt="" class="react" />
        </a>
        <a href="" class="noDecoration">
          <img src="../../assets/html.png" alt="" class="html" />
        </a>
        <a href="" class="noDecoration">
          <img src="../../assets/css.png" alt="" class="react" />
        </a>
      </div>
    </div>
  </body>
</html>
