<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://kit.fontawesome.com/b78dcc4774.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="css.css" />
  <title>d-Coding Quiz</title>
</head>

<body>
  <div class="container colorPrimary">
    <nav class="fontWhite">
      <a class="brandName bold pointer navitem" href="/index.html">d-Coding Quiz</a>
      <div class="list">
        <a class="p05 pointer navitem" href="../rules/rules.html">Rules</a>
        <a class="p05 pointer colorBeige navitem" href="">Category</a>
      </div>
    </nav>


    <div class="questionContainer p1">
      <div class="question">
        <h3 class="qquestion">1. CSS stands for :</h1>
      </div>
      <div class="options">
        <div class="option1">
          <input type="radio" id="option1 " class="radio" name="answer1">
          <label for="option1"> Cascade style sheets</label>
        </div>
        <div class="option1">
          <input type="radio" id="option1 " class="radio" name="answer1">
          <label for="option1">Color and style sheets</label>
        </div>
        <div class="option1">
          <input type="radio" id="option1 " class="radio" name="answer1" checked>
          <label for="option1">Cascading style sheets</label>
        </div>
        <div class="option1">
          <input type="radio" id="option1 " class="radio" name="answer1">
          <label for="option1">None of the above</label>
        </div>
      </div>
    </div>

    <div class="questionContainer p1">
      <div class="question">
        <h3 class="qquestion">2.The property in CSS used to change the background color of an element is -</h1>
      </div>
      <div class="options">
        <div class="option1">
          <input type="radio" id="option1 " class="radio" name="answer2">
          <label for="option1">bgcolor</label>
        </div>
        <div class="option1">
          <input type="radio" id="option1 " class="radio" name="answer2">
          <label for="option1"> color</label>
        </div>
        <div class="option1">
          <input type="radio" id="option1 " class="radio" name="answer2" checked>
          <label for="option1">background-color</label>
        </div>
        <div class="option1">
          <input type="radio" id="option1 " class="radio" name="answer2">
          <label for="option1">All of the above.</label>
        </div>
      </div>
    </div>
    <h1 class="fontGreen p1">Your Score is : 2 </h1>
  </div>
</body>

</html>