<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/b78dcc4774.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="rules.css" />
    <title>d-Coding Quiz</title>
  </head>
  <body>
    <div class="container colorPrimary">
      <nav class="fontWhite">
        <a class="brandName bold pointer navitem" href="/index.html"
          >d-Coding Quiz</a
        >
        <div class="list">
          <a class="p05 pointer navitem" href="./rules.html">Rules</a>
          <a
            class="p05 pointer colorBeige navitem"
            href="../category/category.html"
            >Category</a
          >
        </div>
      </nav>

      <div class="rulesContainer">
        <p>1. The quiz has total of 5 questions.</p>
        <p>
          2. For every question there will be 4 options out of which only one is
          correct.
        </p>
        <p>
          3. Player will get 10 minutes to play the quiz post to which the quiz
          will automatically get submitted.
        </p>
        <p>
          4. Switching of tabs during the quiz is not allowed and hence would be
          disabled for the entire time during the quiz.
        </p>
        <p>
          5. Trying to switch the tabs will initally give a warning and then
          immediately submit the quiz for the same action done for the second
          time.
        </p>
        <p>
          6. Every correct answer will be awarded +10 points, and -5 points for
          every wrong answer.
        </p>
      </div>
    </div>
  </body>
</html>
