<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/b78dcc4774.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="react.css" />
    <title>d-Coding Quiz</title>
  </head>
  <body>
    <div class="container colorPrimary">
      <nav class="fontWhite">
        <a class="brandName bold pointer navitem" href="/index.html"
          >d-Coding Quiz</a
        >
        <div class="list">
          <a class="p05 pointer navitem" href="../../rules/rules.html">Rules</a>
          <a class="p05 pointer colorBeige navitem" href="../../category/category.html">Category</a>
        </div>
      </nav>


      <div class="questionContainer p1">
          <div class="question">
            <h3 class="qquestion">1. Which of the following are the advantages of React.js?</h1>
          </div>
          <div class="options">
              <div class="option1">
                  <input type="radio" id="option1 "class="radio" name="answer1">
                  <label for="option1">React.js can increase the application's performance with Virtual DOM.</label>
              </div>
                            <div class="option1">
                  <input type="radio" id="option1 "class="radio" name="answer1">
                  <label for="option1">React.js is easy to integrate with other frameworks such as Angular, BackboneJS since it is only a view library.</label>
              </div>
                            <div class="option1">
                  <input type="radio" id="option1 "class="radio" name="answer1">
                  <label for="option1">React.js can render both on client and server side.</label>
              </div>
                            <div class="option1">
                  <input type="radio" id="option1 "class="radio" name="answer1">
                  <label for="option1">All of the above</label>
              </div>
          </div>
      </div>

            <div class="questionContainer p1">
          <div class="question">
            <h3 class="qquestion">2.What of the following is used in React.js to increase performance?</h1>
          </div>
          <div class="options">
              <div class="option1">
                  <input type="radio" id="option1 "class="radio" name="answer2">
                  <label for="option1">Original DOM</label>
              </div>
                            <div class="option1">
                  <input type="radio" id="option1 "class="radio" name="answer2">
                  <label for="option1">Virtual DOM</label>
              </div>
                            <div class="option1">
                  <input type="radio" id="option1 "class="radio" name="answer2">
                  <label for="option1">Both A and B.</label>
              </div>
                            <div class="option1">
                  <input type="radio" id="option1 "class="radio" name="answer2">
                  <label for="option1">None of the above.</label>
              </div>
          </div>
      </div>
      <a href="./reactAnswer.html">
          <button class="btnPrimary br1 p05 pointer fontWhite noBorder m-1">Submit</button>
      </a>
    </div>
  </body>
</html>
